@import url('https://fonts.googleapis.com/css2?family=Kaisei+HarunoUmi:wght@500;700&display=swap');

html {
	background-color: rgba(165, 28, 48, 0.2);

}

body {
	margin: 1em auto;
	max-width: 60em;
	padding: 0 3em;
	font-size: 1em;
	font-family: 'Kaisei HarunoUmi', serif;
	color: rgb(40, 40, 40);
}

h1,
h2 {
	line-height: 2;
	padding-top: 3em;
}

#email {
	font-family: monospace;
}

#header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 2em;
}

#header-text {
	flex: 1;
}

#header h1 {
	padding-top: 2em;
}

#photo {
	flex-shrink: 0;
}

#photo img {
	width: 250px;
	height: 250px;
	object-fit: cover;
}

#bio {
	padding-top: 2em;
	text-align: justify;
}

div.title {
	font-weight: bold;
}

li {
	margin: 1em auto;
	line-height: 1.5;
}

a:link {
	color: rgba(165, 28, 48, 1);
}

a:visited {
	color: rgba(165, 28, 48, 1);
}

strong,
b {
	font-weight: 700;
	text-shadow: 0.3px 0 0 currentColor;
}